.container {
  height: 100vh;
  width: 100wh;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
}

.wrapper {
  position: relative;
  width: 80%;
  height: 70%;
}

.titleContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  z-index: 1;
}

.title {
  margin-top: 30px;
  font-size: 10rem;
  color: var(--textColor);
}

.motto {
  margin-top: 30px;
  padding-left: 10px;
  font-size: 2rem;
  font-style: italic;
  color: var(--secondTextColor);
}

.imageContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.imageWrapper {
  position: relative;
  margin-top: 6vh;
  width: 80%;
  height: 70%;
  overflow: hidden;
}

.image {
  object-fit: cover;
}

.descContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.desc {
  position: relative;
  margin-bottom: 5%;
  margin-left: 55%;
  width: 40%;
  background-color: rgba(176, 202, 219, 0.678);
}

@media screen and (max-width: 1024px) {
  .title {
    font-size: 8rem;
  }
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 6rem;
  }

  .desc {
    font-size: 1rem;
  }
}

@media screen and (max-width: 640px) {
  .title {
    font-size: 4rem;
  }

  .motto {
    font-size: 1rem;
    line-height: 1;
  }

  .desc {
    font-size: 0.75rem;
    line-height: 1.2;
  }
}
