@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: white;
  --textColor: black;
  --secondBg: #f0f0f0;
  --secondTextColor: #626262;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 100vw;
  min-height: 100vh;
  background-color: var(--bg);
  color: var(--textColor);
}

.wrapper {
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  background-color: blanchedalmond;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
